<div class="form-group row">
  <label class="col-form-label col-sm-2" for="company_name">Company Name</label>
  <div class="col-sm-7">
    <input readonly class="form-control" name="company_name" value="<%= model.company_name %>" />
  </div>
</div>


<div class="form-group row">
  <label class="col-form-label col-sm-2" for="website">Website</label>
  <div class="col-sm-10">
    <a  class="form-control" name="website" href="<%= model.website %>"><%= model.website %></a>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"></label>
  <div class="col-sm-10">
    <a class="btn btn-outline-dark cancel" href="/uraniumstocks">Go Back to Stock Lists</a>
  </div>
</div>

<div>
  <img src="/YouTube.png" alt="" width="200" height="100" />
</div>

  <form id="form">
    <div class="form-group row">
      <label for="search" style="margin: 5px;">Keyword: </label>
      <input type="text" class="form-control" name="search_value" id="search" value="<%= model.company_name %>" style="width: 400px"/>
    </div>
    <div class="form-group row" margin="10px">
      <label for="orderBy" style="margin: 5px;">Order By:</label>
      <select name="orderBy" id="orderBy">
        <option value="date">Date</option>
        <option value="rating">Rating</option>
        <option value="relevance" selected>Relevance</option>
        <option value="title">Title</option>
        <option value="videoCount">Video Count</option>
        <option value="viewCount">View Count</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="searchResults" style="margin: 5px;">Search Results:  </label>
      <select name="searchResults" id="searchResults">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30" >30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
    </div>
    

    <div class="form-group">
      <input type="submit" class="btn btn-danger" value="Search">
    </div>

  </form>

<br>

<div class="row">
  <div class="col-md-12">
    <div id="videos">
    </div>
  </div>
</div>





