<%- include("_header") -%>

<h1>Update a company record</h1>

<form action="/edit/<%= model.company_id %>" method="post">
  <div class="form-horizontal">

    <%- include("_editor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Update" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/uraniumstocks">Cancel</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>