<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takeo's IS699 Application</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/styles.css" type="text/css" rel="stylesheet">
</head>
<body>

    <%- include("_header") -%>

    

    <div class="gallery">
        <img src="NewWorld.png" alt="" width="1100" height="300">
    </div>
    <br>
    <h1>Natural Resource Investment Research Platform</h1>

    <P>Natural Resource Investment Platform provides you a vast wealth of knowledge on the natural resource industry. We focus on key minerals for decarbonization and electrification. We help you get geological and financial data of mining companies at your fingertips and save a tremendous amount of time to choose right stocks for your portfolio and proseperity!</P>
    <br>
    <h3>Great Fundamentals for Natural Resource Investment</h3>
    <br>
    <p>Global warming is an existential threat to the society as the world has experinced severe drought, wild fire, and extreme weather conditions in recent years. Many countries are rapidly shifting their climate policy from carbon energy to renewable and clean energy to combat the climate change.  
    </p>
    <br>
    <ul>
      <li class="climatePolicy">"50~52% reduction from 2005 levels in economy-wide net greenhouse pollution in 2030" - United States of America</li>
      <li class="climatePolicy">"Cut greenhouse gas emissions by at least 55% by 2030 sets Europe on a responsible path to becoming climate neutral by 2050" - European Commission</li>
      <li class="climatePolicy">"By 2035, all new cars and passenger trucks sold in California be zero-emission vehicles" - State of California </li>
    </ul>
    <br>
    <p>Decarbonization and electrification of the society will require a tremendous amount of battery and base metals in coming decades. However, due to significant underinvestment in the mining sector, it is estimated to have huge supply deficits with those minerals. High demand of commodities and underinvestment in the industry will lead to higher commodity prices and huge upside potential for mining stocks.</p>
    <br>
    <table class="table">
      <thead>
        <th class="mineralImage"></th>
        <th class="mineralsHeader">Mineral Name</th>
        <th class="mineralUses">Mineral Industrial Uses</th>
      </thead>
      <tr>
        <td class="mineralImage"><img src="silverBar.jpg" alt="" width="100" height="100"></td>
        <td class="minerals">Silver</td>
        <td class="mineralUses">
          <ul>
            <li>Solar Panels</li>
            <li>Electrical and Electronics (Mobile Phones, Automobile, TV Screens, Circuit Boards, etc.)
            <li>Medicine and Photography (X-lay, Nanotechnology, and Medical Equipments)
            </li>
          </ul>
        </td>
      </tr>

    </table>



    <%- include("_footer") -%>

</body>

<script>

$(document).ready(function() {

var galleryImage = $(".gallery").find("img").first();
var images = [
  "ProtectEarth.jpg",
  "GreenEnergy.jpg",
  "Decarbonization.jpg",
  "MiningIndustry.jpg",
  "Investment.jpg",
  "Silver.jpg",
  "Copper.jpg",
  "banner-insight-nuclear-energy.webp",
  "NewWorld.png",
];

var i=0;
setInterval(function(){
  i = (i + 1) % images.length;
  galleryImage.fadeOut(function(){
    $(this).attr("src", images[i]);
    $(this).fadeIn();
  });
  console.log(galleryImage.attr("src"))

}, 3000);
});
</script>
</html>